.Img{
   width: 44px;
   margin-top: 40px;
   position: absolute;
   margin-left: 40px;
}
.Card{
    width: 600px;
    height: 100px;
    margin-bottom: 0px;
}
.NameProduct{
    position: absolute;
    margin-top: 45px;
    margin-left: 140px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.VolumeProduct{
    position: absolute;
    margin-top: 0px;
    margin-left: 140px;
    margin-top:70px;
    font-size: 12px;
    color: rgb(92, 92, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/* .CardMain{
  border: 1px solid black;
} */
.App{
    width: 600px;
    height: 250px;
    margin-left: 20%;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
}
body{
    background-color: rgb(187, 187, 187);
}
h1{
    font-size: 17px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.green{
    width: 10px;
    height: 10px;
    /* margin-left: 140px;
    margin-top: 90px; */
    position: absolute;
    background-color: green;
    border-radius: 50%;
}
.box{
    width: 10px;
    height: 10px;
    margin-left: 140px;
    margin-top: 90px;
    position: absolute;
    border: 1px solid green;
    padding: 1px;
}
.prise{
    margin-left: 360px;
    position: absolute;
}
.priseData{
    margin-left: 300px;
    position: absolute;
}
.PlusMines{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 400px;
    position: absolute;
    margin-top: 60px;
}